html {
    overflow: hidden;
}

.room > p {
    position: relative;
    left: 46%;
    bottom: 48vh;

}
.members {
    background-color: #867171;
    width: 10%;
    position: fixed;
    left: 90%;
    bottom: 37vh;
    height: 50vh;
}

.members > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#options {
    position: relative;
    right: 16.5%;
    bottom: 15.5vh;
}

.submitCode {
    position: relative;
    right: 15.5%;
    bottom: 15.5vh;
}

.output {
    position: relative;
    right: 44.5%;
    top: 10vh;
    width: 30vw;
    height: 20vh;
    /*bottom: 4.5vh;*/
}

#problems {
    position: relative;
    right: 16%;
    bottom: 15.5vh;
}